# .config/VSCodium/User/History
# .config/VSCodium/User/snippets
# .config/VSCodium/User/globalStorage
# .config/VSCodium/User/workspaceStorage
# .config/VSCodium/logs
# .config/VSCodium/WebStorage

VSCodium/
!VSCodium/User/*.json
