.config/qtile/__pycache__/

.config/VSCodium/*
.config/VSCodium/*/
!.config/VSCodium/User
.config/VSCodium/User/*
.config/VSCodium/User/*/
!.config/VSCodium/User/settings.json
!.config/VSCodium/User/keybindings.json

.mozilla/*
.mozilla/*/
!.mozilla/firefox
.mozilla/firefox/*
.mozilla/firefox/*/
!.mozilla/firefox/2n38hpgh.privatebrowsingv3/
.mozilla/firefox/2n38hpgh.privatebrowsingv3/*
.mozilla/firefox/2n38hpgh.privatebrowsingv3/*/
!.mozilla/firefox/2n38hpgh.privatebrowsingv3/chrome

.config/darktable/*.db*

.config/zsh/.zcompdump
.config/zsh/.zprofile

.config/doom

.config/nvim
