@import 'colors.css';

* {
    border: none;
    border-radius: 60px;
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 22px;
    min-height: 0;
}
#custom-weather,
#language,
#cpu,
#window,
#clock,
#custom-brightness,
#pulseaudio,
#language,
#bluetooth,
#pulseaudio.microphone,
#workspaces,
#tray,
#memory,
#disk,
#tray {
    background: @base00;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
    margin-left: 1px;
}

#workspaces {
    background: @base00;
    border-radius: 60px;
}

#clock {
    color: @base0C;
    border-radius: 13px 60px 60px 13px;
}

#language {
    color: @base0E;
}
#custom-brightness {
    color: @base0A;
}

#bluetooth {
    color: @base0D;
}

#pulseaudio {
    color: @base08;
  border-radius: 60px 13px 13px 60px;
}


window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button.urgent {
    color: #f38ba8;
}


#workspaces button.persistent {
    color: @base04;
}

#workspaces button.empty {
    color: @base02;
}


#workspaces button.active {
    color: @base07;
}

