@define-color bg0 #2d353b;
@define-color bg1 #343f44;
@define-color bg2 #3d484d;
@define-color bg3 #475258;
@define-color bg4 #4f585e;

@define-color fg0 #d5c9ab;
@define-color fg1 #d3c6aa;
@define-color fg2 #c9b99a;
@define-color fg3 #b5a992;
@define-color fg4 #a39b8b;

@define-color dark-red #e67e80;
@define-color dark-green #a7c080;
@define-color dark-yellow #dbbc7f;
@define-color dark-blue #7fbbb3;
@define-color dark-purple #d699b6;
@define-color dark-aqua #83c092;
@define-color dark-orange #e69875;
@define-color dark-gray #859289;

@define-color light-red #e67e80;
@define-color light-green #a7c080;
@define-color light-yellow #dbbc7f;
@define-color light-blue #7fbbb3;
@define-color light-purple #d699b6;
@define-color light-aqua #83c092;
@define-color light-orange #e69875;
@define-color light-gray #a39b8b;

* {
    border: none;
    border-radius: 60px;
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    font-size: 22px;
    min-height: 0;
}
#custom-weather,
#language,
#cpu,
#window,
#clock,
#custom-brightness,
#pulseaudio,
#language,
#bluetooth,
#pulseaudio.microphone,
#workspaces,
#tray,
#memory,
#disk,
#tray {
    background: @bg0;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
    margin-left: 1px;
}

#workspaces {
    background: @bg0;
    border-radius: 60px;
}

#clock {
    color: @light-aqua;
    border-radius: 13px 60px 60px 13px;
}

#language {
    color: @light-purple;
}
#custom-brightness {
    color: @light-yellow;
}

#bluetooth {
    color: @light-blue;
}

#pulseaudio {
    color: @light-red;
  border-radius: 60px 13px 13px 60px;
}


window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    color: @dark-gray;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}



#workspaces button.visible {
    box-shadow: inset 0 -1px @bg0;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#workspaces button.persistent {
    color: @fg4;
}

#workspaces button.empty {
    color: @bg2;
}

#workspaces button.active {
    color: @fg0;
}

#workspaces button.focused {
    color: @light-red;
}
